<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" type="text/css" href="/css/index.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CRYPTO</title>
  </head>
  <body>
    <!-- nav -->
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="./">ENCRYPTION</a></li>
      <li role="presentation" class="active"><a href="./decry">DECRYPTION</a></li> 
    </ul>
    <!-- nav -->

    <!-- content -->
    <div id="top_div">
        <p id="top_txt">DECRYPTION</p>
        <img id="top_img" src="/img/top.png">
    </div>
    <div id="content">
      <div id="form">
        <!-- enter시 폼 제출 -->
        <form class="form-horizontal" method="post" action="/decry" onkeypress="this.submit();">
          <div class="form-group">
            <label for="cipher" class="col-sm-2 control-label">암호문</label>
            <div class="col-sm-10">
              <!-- value에 직접 ejs 구문 적용시 오류 발생하여 if문으로 묶어서 사용해줌  -->
              <input type="text" class="form-control" name="cipher" placeholder="input your cipher" value = "<%if(locals.cipher){%><%=cipher%><%}%>">
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-secondary">복호화</button>
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <label for="plaintext" class="col-sm-2 control-label">복호문</label>
            <div class="col-sm-10">
              <!-- value에 직접 ejs 구문 적용시 오류 발생하여 if문으로 묶어서 사용해줌  -->
              <input type="text" class="form-control" placeholder="password" value = "<%if(locals.plaintext){%><%=plaintext%><%}%>">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- content -->
  </body>
</html>